.AppContainer{
  width: 100%;
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  position: relative;

  .AppContent{
    width: 100%;
    position: relative;
    overflow: hidden;
    height: calc(100% - 80px);
  }
}