.Home{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;

    .HomeContainer{
        width: calc(100% - 400px);
        overflow: auto;
        z-index: 10;
        margin-left: 400px;
        height: calc(100dvh - 80px);
        padding: 30px 40px;
        position: relative;

        .SearchContainer{
            width: 100%;
            max-width: 650px;
            margin-bottom: 30px;
        }

        .infinite-scroll-component {
            padding: 0;
            height: 100%!important;
            position: relative;
            background-color: transparent;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

@media screen and (max-width : 1024px){
    .Home{
        .HomeContainer{
            padding: 20px;

            .SearchContainer{
                margin-bottom: 20px;
            }

            .PokemonList{
                grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
                grid-gap: 15px;
            }
        }
    }
}

@media screen and (max-width : 650px){
    .Home{
        .HomeContainer{
            .PokemonList{
                grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
                // grid-gap: 10px;
            }
        }
    }
}

.PokemonList{
    width: 100%;
    height: 100%;
    background-color: transparent;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
    grid-gap: 20px;
    width: 100%;
}

.LoadingScroll{
    width: 100px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}