.Home{
    width: 100%;
    height: 100%;
    position: relative;

    .HomeContainer{
        width: 100%;
        overflow: auto;
        height: calc(100dvh - 80px);
        padding: 30px 40px;

        .SearchContainer{
            width: 100%;
            max-width: 450px;
            margin-bottom: 30px;
        }

        .infinite-scroll-component {
            padding: 0;
            height: 100%!important;
            position: relative;
            background-color: transparent;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .PokemonList{
            width: 100%;
            height: 100%;
            display: grid;
            background-color: transparent;
            grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
            width: 100%;
            grid-gap: 20px;
        }
    }
}

@media screen and (max-width : 1024px){
    .Home{
        .HomeContainer{
            padding: 30px 20px;

            .PokemonList{
                grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
                grid-gap: 15px;
            }
        }
    }
}

@media screen and (max-width : 650px){
    .Home{
        .HomeContainer{
            .PokemonList{
                grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
                // grid-gap: 10px;
            }
        }
    }
}

.LoadingScroll{
    width: 100px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}