.Home{
    width: 100%;
    height: 100%;
    position: relative;

    .HomeContainer{
        width: 100%;
        height: 100%;
        overflow-y: scroll;
        padding: 30px 40px;

        .SearchContainer{
            width: 100%;
            margin-bottom: 30px;
        }

        .PokemonList{
            width: 100%;
            height: 100%;
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
            width: 100%;
            grid-gap: 30px;
        }
    }
}