.Team {
    height: calc(100dvh - 80px);
    background-color: var(--components-secondary);
    position: absolute;
    top: 0;
    z-index: 100;
    left: 0;
    display: flex;
    transform: translateX(-50%);
    transition: all .3s;

    &.opened{
        transform: translateX(0%);
    }

    .TeamContainer{
        height: 100%;
        padding: 20px;
        width: 400px;
        display: flex;
        overflow: auto;
        flex-direction: column;
        justify-content: space-between;
        gap: 20px;

        .NoLogged{
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 14px;
            justify-content: center;
        }

        &.secondary{
            background-color: var(--components);
        }

        .TeamContent{
            width: 100%;
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            gap: 20px;
        }

        .TeamHeader{
            display: flex;
            flex-direction: column;
            gap: 10px;
            flex-shrink: 0;

            .SearchContainer{
                display: flex;
                align-items: center;
                gap: 10px;

                .ButtonContainer{
                    flex-shrink: 0;
                }
            }
        }

        .Teams{
            width: 100%;
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            gap: 20px;

            .Divider{
                width: 100%;
                height: 2px;
                background-color: var(--borders);
            }
        }

        .TeamCases{
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
            grid-gap: 15px; 
            flex-shrink: 1;

            .TeamCase{
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;

                .SpriteContent{
                    user-select: none;
                    position: absolute;
                    top: 0;
                    left: 0;
                    cursor: pointer;
                    border-radius: 50%;
                    width: 100%;
                    transition: all .2s;
                    height: 100%;

                    &:hover{
                        transform: scale(1.05);
                    }

                    img{
                        width: 100%;
                        pointer-events: none;
                    }
                }
            }
        }

        .TeamActions, .TeamActionsMobile{
            display: flex;
            flex-direction: column;
            gap: 10px;
            flex-shrink: 0;
            width: 100%;
            align-items: center;
        }

        .TeamActionsMobile{
            display: none;
        }
    }
}

.TeamOpacity{
    position: fixed;
    right: 0;
    top: 80px;
    z-index: 100;
    width: 100dvw;
    height: calc(100dvh - 80px);
    background-color: rgba($color: #000000, $alpha: .6);
    visibility: hidden;
    opacity: 0;
    transition: 
        opacity .3s 0s,
        visibility 0s .3s,
    ;

    &.opened{
        opacity: 1;
        visibility: visible;
        transition: 
            visibility 0s 0s,
            opacity .3s 0s
        ;
    }
}

.TeamDetails{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;

    &.disabled{
        pointer-events: none;
        opacity: .4;
    }

    .TeamDetailsHeader{
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .TeamDetail{
        display: flex;
        gap: 5px;

        .TeamDetailSprite{
            width: 55px;
            aspect-ratio: 1/1;
            display: flex;
            align-items: center;
            justify-content: center;

            img{
                pointer-events: none;
                width: 100%;
            }
        }
    }

    .TeamDetailsActions{
        display: flex;
        flex-direction: column;
        gap: 5px;

        .ActionsRow{
            display: flex;
            flex-wrap: nowrap;
            gap: 5px;
        }
    }
}

.EditPopup{
    width: calc(100dvw - 40px);
    max-width: 400px;
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    border-radius: 5px;

    .PopupButtons{
        display: flex;
        // flex-direction: column;
        gap: 10px;
        margin: 5px 0;
    }
}

@media screen and (max-width : 1024px){
    .Team {
        transform: translateX(calc(-100% + 75px));

        .TeamContainer{
            width: 75px;
            padding: 10px;

            /* width */
            &::-webkit-scrollbar {
                width: 4px;
            }

            &.secondary{
                padding: 20px;
                width: 400px;

                .TeamHeader{
                    display: flex;
                }
            }

            .TeamHeader{
                display: none;
            }

            .TeamCases{
                grid-template-columns: repeat(auto-fill, minmax(55px, 1fr));
                grid-gap: 10px; 
            }

            .TeamActionsMobile{
                display: flex;
            }

            .TeamActions{
                display: none;
            }
        }
    }
}

@media screen and (max-width:650px){
    .Team {
        transform: translateX(calc(-100% + 55px));

        .TeamContainer{
            width: 55px;
            padding: 10px 5px;

            &.secondary{
                padding: 10px;
                width: calc(100dvw - 55px)!important;
            }

            .TeamHeader{
                display: none;
            }

            .TeamCases{
                grid-template-columns: repeat(auto-fill, minmax(45px, 1fr));
                grid-gap: 5px; 
            }

            .TeamActionsMobile{
                display: flex;
            }

            .TeamActions{
                display: none;
            }
        }
    }
}