.Team {
    width: 400px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: var(--components);
}

.TeamView{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;

    .TeamViewTitle{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 10px;
    }

    .TeamViewContent{
        height: 100%;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        padding: 30px 0;
        gap: 30px;
        align-items: center;
        justify-content: center;

        .PokemonContent{
            width: 130px;
            aspect-ratio: 1/1;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;

            img{
                width: 100%;
                pointer-events: none;
            }

            .Sprite{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                transition: all .2s;
                cursor: pointer;

                &:hover{
                    transform: scale(1.05);
                }

                img{
                    width: 100%;
                    pointer-events: none;
                }
            }
        }
    }

    .TeamViewOptions{
        gap: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}