.Body{
    word-wrap: break-word;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0em;
    color: var(--body);
    font-family: "Noto Sans", sans-serif;

    &.overflow{
        text-overflow: ellipsis;
        overflow: hidden;
        width: 100%;
        white-space: nowrap;
    }

    &.disabled{
        color: var(--body-disabled);
    }

    &.uppercase{
        text-transform: uppercase;
    }

    &.underline{
        text-decoration: underline;
    }

    &.boxSizing{
        width: 100%;
    }

    &.small{
        font-size: 14px;
    }

    &.large{
        font-size: 18px;
    }

    &.hover{
        transition: all .2s;
    }

    &.right{
        text-align: right;
    }

    &.white{
        color: var(--neutral100);

        &.hover{
            &:hover{
                color: var(--neutral150);
            }
        }
    }

    &.black{
        color: #3a3a3a;
    }

    &.secondary{
        color: var(--body-secondary);
    }

    &.primary{
        color: var(--primary);

        &.hover{
            &:hover{
                color: var(--primary-hover);
            }
        }
    }

    &.error{
        color: var(--red100);
    }

    &.success{
        color: var(--green100);
    }

    &.justify{
        text-align: justify;
        justify-content: baseline;
    }

    &.center{
        text-align: center;
    }

    &.thin{
        font-weight: 100;
    }

    &.extraLight{
        font-weight: 200;
    }

    &.light{
        font-weight: 300;
    }

    &.medium{
        font-weight: 400;
    }

    &.regular{
        font-weight: 500;
    }

    &.semiBold{
        font-weight: 600;
    }

    &.bold{
        font-weight: 700;
    }

    &.extreBold{
        font-weight: 800;
    }

    em{
        margin-left: 5px;
        font-size: 12px;
    }
}

@media screen and (max-width : 1024px){
    .Body{
        font-size: 14px;
    
        &.small{
            font-size: 12px;
        }
    
        &.large{
            font-size: 16px;
        }
    }
}

@media screen and (max-width : 650px){
    .Body{
        font-size: 12px;
    
        &.small{
            font-size: 11px;
        }
    
        &.large{
            font-size: 14px;
        }
    }
}