.Button{
    cursor: pointer;
    transition: all .2s;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 50px;
    box-sizing: border-box;
    border-radius: 10px;
    height: 45px;
    width: fit-content;
    gap: 5px;

    &.disabled{
        opacity: .3;
        cursor: default;

        &:hover{
            opacity: .3;
        }
    }

    &:hover{
        opacity: .9;
    }

    &.small{
        height: 35px;
    }

    &.large{
        height: 55px;
    }

    &.primary{
        border: 3px solid var(--primary);

        &.hover{
            background-color: var(--primary);
        }

        &.disabled{
            &.hover{
                background-color: transparent;
            }
        }
    }

    &.secondary{
        border: 2px solid var(--borders);

        &.hover{
            opacity: .6;
        }
    }

    &.tercery{
        width: auto;
        height: auto;
        padding: 0;
    }

    &.iconButton{
        width: 50px;
        height: 50px;
        padding: 5px!important;
        box-sizing: border-box;

        &.small{
            width: 40px;
            height: 40px;
        }

        &.large{
            width: 60px;
            height: 60px;
        }

        .ButtonIcon{
            width: 100%;
            margin: 0;
            height: 100%;
        }
    }

    &.justifyLeft{
        justify-content: start;
    }

    .ButtonIcon{
        width: 20px;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 4px;

        img{
            width: 100%;
            height: 100%;
            pointer-events: none;
        }
    }
}