.Heading{
    color:var(--heading);
    width: 100%;

    &.center{
        text-align: center;
    }

    &.white{
        color: var(neutral700);
    }

    &.uppercase{
        text-transform: uppercase;
    }

    &.h1{
        font-size: 48px;
    }

    &.h2{
        font-size: 32px;
    }

    &.h3{
        font-size: 28px;
    }

    &.h4{
        font-size: 24px;
    }

    &.h5{
        font-size: 20px;
    }

    &.h6{
        font-size: 18px;
    }

    &.thin{
        font-weight: 100;
    }

    &.extraLight{
        font-weight: 200;
    }

    &.light{
        font-weight: 300;
    }

    &.medium{
        font-weight: 400;
    }

    &.regular{
        font-weight: 500;
    }

    &.semiBold{
        font-weight: 600;
    }

    &.bold{
        font-weight: 700;
    }

    &.extreBold{
        font-weight: 800;
    }

    @media screen and (max-width:1100px){
        &.h1{
            font-size: 32px;
        }
    
        &.h2{
            font-size: 24px;
        }
    
        &.h3{
            font-size: 22px;
        }
    
        &.h4{
            font-size: 20px;
        }
    
        &.h5{
            font-size: 18px;
        }
    
        &.h6{
            font-size: 16px;
        }
    }

    @media screen and (max-width:650px){
        &.h1{
            font-size: 22px;
        }
    
        &.h2{
            font-size: 18px;
        }
    
        &.h3{
            font-size: 16px;
        }
    
        &.h4{
            font-size: 14px;
        }
    
        &.h5{
            font-size: 12px;
        }
    
        &.h6{
            font-size: 10px;
        }
    }
}