
.InputContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;

    textarea{
        width: 100%;
        min-width: 100%;
        max-width: 100%;
        font-size: 14px;
        height: 150px;
        border: 2px solid var(--borders);
        min-height: 150px;
        padding: 20px;
        box-sizing: border-box;
    }

    &.disabled{
        .InputContent{
            opacity: .5;
        }
    }
    
    .InputContent{
        width: 100%;
        height: 50px;
        position: relative;
        border-radius: 5px;
        border: 2px solid var(--borders);
        transition: opacity .2s;
    
        &.search{
            input{
                width: calc(100% - 40px);
                margin-left: 40px;
            }
        
            input:focus{
                width: 100%;
                margin-left: 0;
            }
            
            input:focus ~ .SearchIcon{
                margin-left: 0px;
                opacity: 0;
            }
        }

        &.error{
            border: 2px solid var(--red100);
        }
    
        .SearchIcon{
            position: absolute;
            left: 5px;
            top: 50%;
            transform: translateY(-50%);
            width: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 40px;
            z-index: 10;
    
            img{
                width: 30px;
                pointer-events: none;
                height: 30px;
            }
        }
    
        input{
            width: 100%;
            box-sizing: border-box;
            height: 100%;
            background-color: transparent;
            color: var(--body);
            font-size: 16px;
            padding: 10px 15px;
            border-radius: 10px;
            border: none;
            text-decoration: none;
            outline: none;
        }
    
        input:focus{
            width: 100%;
            margin-left: 0;
        }
        
        input:focus ~ .SearchIcon{
            margin-left: 0px;
            opacity: 0;
        }

        @media screen and (max-width : 1024px){
            input{
                font-size: 14px;
            }
        }

        @media screen and (max-width : 650px){
            input{
                font-size: 12px;
            }
        }
    }

    @media screen and (max-width : 1024px){
        textarea{
            font-size: 14px;
        }
        .InputContent{
            height: 45px;
        }
    }

    @media screen and (max-width : 650px){
        textarea{
            font-size: 12px;
        }

        .InputContent{
            height: 40px;
        }
    }
}
