.Loader{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .LoaderContent{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .LoaderIcon{
            width: 80px;
            height: 80px;
            display: flex;
            align-items: center;
            justify-content: center;
    
            img{
                width: 100%;
                height: 100%;
                animation: spin 2s linear infinite;;
            }
        }

        .LoaderText{
            margin-top: 30px;
        }
    }
}

@keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}