.LoginForm{
    width: 100%;
    max-width: 500px;
    max-height: 100%;
    overflow-y: auto;
    border-radius: 15px;
    background-color: var(--components);
    filter: drop-shadow(0 0 40px rgba(0, 0, 0, .15));
    display: flex;
    flex-direction: column;
    padding: 25px;
    gap: 25px;

    .LoginFormHeader{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        .LoginFormLogo{
            width: 125px;
            height: 125px;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;

            img{
                pointer-events: none;
                width: 100%;
            }
        }
    }
    
    .FormContainer{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;

        .FormContent{
            width: 100%;
            gap: 20px;
            padding-bottom: 15px;
            display: flex;
            flex-direction: column;
        }
    }
}