.Nav{
    width: 100%;
    height: 80px;
    background-color: var(--components);
    display: flex;
    position: relative;
    z-index: 100;
    align-items: center;
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, .20));
    padding: 0 40px;
    justify-content: space-between;

    .NavOpacity{
        width: 100%;
        height: calc(100dvh - 80px);
        position: fixed;
        visibility: hidden;
        background-color: rgba($color: #000000, $alpha: .25);
        top: 80px;
        left:0;
        opacity: 0;
        transition: 
            opacity .2s 0s,
            visibility 0s .2s;

        &.opened{
            opacity: 1;
            visibility: visible;
            z-index: 100;
            transition: 
                visibility 0s 0s,
                opacity .2s 0s;
        }
    }

    .NavContent, .NavHeader{
        display: flex;
        align-items: center;
        flex-direction: row;
        height: 100%;
        position: relative;
        gap: 25px;

        .UsernameContainer{
            max-width: 200px;
        }

        .ButtonContainer{

        }

        .MobileButtonContainer{
            display: none;
            width: 100%;
            flex-shrink: 0;
        }

        .NavLogo{
            width: 60px;
            height: 60px;
            display: flex;
            align-items: center;
            justify-content: center;

            img{
                pointer-events: none;
                width: 100%;
            }
        }
    }

    .BurgerContainer{
        display: none;
    }
}

@media screen and (max-width : 1024px){
    .Nav {
        .NavContent{
            position: fixed;
            top: 80px;
            right: 0;
            width: 100%;
            border-top: 2px solid var(--background);
            // box-shadow: -4px 4px 4px rgba($color: #000000, $alpha: .15);
            max-width: 300px;
            height: calc(100dvh - 80px);
            flex-direction: column;
            padding: 30px;
            z-index: 1000;
            transform: translateX(100%);
            transition: transform .3s ease-in-out;
            background-color: var(--components);

            &.opened{
                transform: translateX(0);
            }

            .UsernameContainer{
                width: 100%;
                max-width: 100%;
            }

            .MobileButtonContainer{
                display: block;
            }

            .ButtonContainer{
                display: none;
            }
        }

        .BurgerContainer{
            display: block;
        }
    }
}

@media screen and (max-width : 650px){
    .Nav{
        .NavHeader{
            .NavTitle{
                display: none;
            }
        }

        .NavContent{
            max-width:100%;
        }
    }
}