.Nav{
    width: 100%;
    height: 100px;
    background-color: var(--components);
    display: flex;
    align-items: center;
    padding: 0 40px;
    justify-content: space-between;

    .NavContent{
        display: flex;
        align-items: center;
        flex-direction: row;
        height: 100%;
        position: relative;
        gap: 25px;

        .username{
            margin-right: 30px;
        }

        .LogoutButton{
            width: 40px;
            height: 40px;
            display: flex;
            align-items: center;
            cursor: pointer;
            justify-content: center;

            img{
                width: 100%;
                pointer-events: none;
            }
        }

        .NavLogo{
            width: 65px;
            height: 65px;
            display: flex;
            align-items: center;
            justify-content: center;

            img{
                pointer-events: none;
                width: 100%;
            }
        }
    }
}