.PokemonPopup{
    width: 100dvw;
    height: 100dvh;
    display: flex;
    justify-content: center;
    overflow-y: auto;
    background-color: var(--background);

    .PokemonPopupContainer{
        width: 100%;
        max-width: 1600px;
        display: flex;
        flex-direction: column;
    }

    .PokemonPopupScroll{
        padding: 20px;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .PokemonPopupHeader{
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 15px 30px;
        align-items: center;
        background-color: var(--components);
        border-radius: 5px;
        height: 100px;

        .PopupTitle{
            display: flex;
            gap: 25px;
            height: 100%;
            align-items: center;

            .divider{
                width: 2px;
                flex-shrink: 0;
                background-color: var(--borders);
                height: 100%;
                border-radius: 15px;
            }
        }
    }

    .PokemonPopupContent{
        width: 100%;
        flex-grow: 1;
        display: flex;
        flex-shrink: 0;
        gap: 20px;

        .PokemonBand{
            max-width: 400px;
            width: 100%;
            gap: 20px;
            display: flex;
            flex-direction: column;

            .PokemonHeader{
                display: flex;
                flex-direction: column;
                gap: 10px;

                .PokemonImage{
                    width: 100%;
                    max-width: 400px;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    img{
                        width: 100%;
                        pointer-events: none;
                    }
                }

                .PokemonTypes{
                    width: 100%;
                    gap: 20px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }

            .PokemonDetails{
                display: flex;
                flex-direction: column;
                flex-grow: 1;
                gap: 10px;

                .PokemonDetail{
                    display: flex;
                    gap: 10px;

                    .Detail{
                        border-radius: 5px;
                        padding: 10px;
                        gap: 4px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                    }

                    .DetailHeader{
                        flex-shrink: 0;
                        width: 150px;
                    }

                    .DetailContent{
                        flex-grow: 1;
                        background-color: var(--components);
                    }
                }
            }
        }
        
        .PokemonAttributes{
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 20px;
            
            .AttributesTable{
                display: flex;
                flex-direction: column;
                gap: 10px;

                .AttributesHeader{
                    width: 100%;
                    padding: 15px;
                    border-radius: 5px;
                }

                .TypesContainer{
                    display: grid;
                    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
                    grid-gap: 10px;
                }

                .AttributesContent{
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    width: 100%;

                    .AttributeRow{
                        display: flex;
                        gap: 10px;
                        width: 100%;

                        &.inversed{
                            .CaseHeader{
                                max-width: 100%;
                            }

                            .CaseDetail{
                                max-width: 125px;
                            }
                        }

                        .Case{
                            height: 40px;
                            border-radius: 5px;
                            display: flex;
                            align-items: center;
                            padding: 10px;
                            flex-grow: 1;
                            background-color: var(--components);
                        }

                        .CaseHeader{
                            max-width: 125px;
                        }

                        .CaseDetail{
                            display: flex;
                            align-items: center;
                            gap: 20px;
                            padding: 10px 20px;

                            .StatGauge{
                                flex-grow: 1;
                                height: 100%;
                                display: flex;
                                align-items: center;

                                .bar{
                                    background-color: var(--neutral100);
                                    height: 100%;
                                    border-radius: 3px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    @media screen and (max-width : 1024px){
        .PokemonPopupHeader{
            height: 80px;
            padding: 15px;

            .PopupTitle{
                gap: 15px;
            }
        }

        .PokemonPopupContent{
            flex-direction: column;
            gap: 10px;

            .PokemonBand{
                max-width: 100%;

                .PokemonHeader{
                    align-items: center;
                }
            }

            .PokemonAttributes{
                gap: 10px;
            }
        }
    }

    @media screen and (max-width : 650px){
        .PokemonPopupScroll{
            padding: 10px;
        }
        
        .PokemonPopupHeader{
            height: 65px;
        }

        .PokemonPopupContent{
            .PokemonBand{
                .PokemonDetails{
                    .PokemonDetail{
                        .DetailHeader{
                            width: 120px;
                        }
                    }
                }
            }
        }
    }
}