.PokemonCase{
    width: 100%;
    aspect-ratio: 1/1;
    background-color: var(--components);
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    filter: drop-shadow(0 0 20px var(--components));
    justify-content: space-between;
    padding: 20px;
    cursor: pointer;
    transition: all .2s;

    .PokemonName{
        width: 100px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        gap: 6px;

        .PlusButton{
            width: 40px;
            height: 40px;
            border-radius: 50%;
            display: flex;
            border: 2px solid var(--borders);
            align-items: center;
            justify-content: center;
            transition: all .2s;
            cursor: pointer;

            &:hover{
                background-color: var(--primary);
            }

            img{
                width: 100%;
                height: 100%;
                pointer-events: none;
            }
        }
    }

    &:hover{
        transform: scale(1.05);
        // filter: drop-shadow(0 0 20px var(--primary));
    }

    .PokemonImage{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 15px;
        margin-bottom: 10px;
        flex-grow: 1;
        
        img{
            width: 100%;
            pointer-events: none;
        }
    }
}