.PokeballContainer{
    width: 100%;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: baseline;

    .Pokeball{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        opacity: .2;
        justify-content: center;
        border-radius: 50%;
        position: relative;

        .BallSeparator{
            width: 100%;
            height: 10%;
            background-color: var(--components-secondary);
        }

        .BallCenter{
            width: 40%;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            aspect-ratio: 1/1;
            border-radius: 50%;
            background-color: var(--components-secondary);
            display: flex;
            align-items: center;
            justify-content: center;
            
            .Center{
                width: 60%;
                aspect-ratio: 1/1;
                border-radius: 50%;
            }
        }
    }
}