.PokemonCase{
    flex-grow: 1;
    flex-shrink: 1;
    min-width: 200px;
    background-color: var(--components);
    border-radius: 20px;
    display: flex;
    align-items: center;
    user-select: none;
    flex-direction: column;
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, .20));
    justify-content: space-between;
    padding: 10px;
    padding-top: 0;
    cursor: pointer;
    gap: 5px;
    transition: all .2s;

    .PokemonName{
        width: 100px;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding-bottom: 10px;
        justify-content: center;
        gap: 10px;

        .Names{
            display: flex;
            flex-direction: column;
            gap: 4px;
        }

        .PlusButton{
            width: 40px;
            height: 40px;
            border-radius: 50%;
            display: flex;
            border: 2px solid var(--borders);
            align-items: center;
            justify-content: center;
            transition: all .2s;
            cursor: pointer;

            &:hover{
                background-color: var(--primary);
            }

            img{
                width: 100%;
                height: 100%;
                pointer-events: none;
            }
        }
    }

    &:hover{
        transform: scale(1.05);
        // filter: drop-shadow(0 0 20px var(--primary));
    }

    .PokemonImage{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 200px;
        height: 200px;
        padding: 0 20px;
        
        img{
            width: 100%;
            pointer-events: none;
        }
    }
}

@media screen and (max-width : 1024px){
    .PokemonCase{
        min-width: 170px;
        gap: 0;
        .PokemonName{
            .Names{
                gap: 2px;
            }
        }

        .PokemonImage{
            width: 150px;
            height: fit-content;
            padding: 10px;
        }
    }
}

@media screen and (max-width : 1024px){
    .PokemonCase{
        min-width: 150px;

        .PokemonImage{
            width: 125px;
        }
    }
}