.PokemonPopup{
    width: 90vw;
    height: 90vh;
    border-radius: 20px;
    background-color: var(--background);

    .PokemonPopupContainer{
        width: 100%;
        height: 100%;
        position: relative;

        .PokemonPopupHeader{
            width: 100%;
            height: 100px;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            display: flex;
            align-items: center;
            padding: 0 30px;
            justify-content: space-between;

            .Cross{
                width: 40px;
                cursor: pointer;
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: center;

                img{
                    width: 100%;
                    pointer-events: none;
                }
            }
        }

        .PokemonInfosContainer{
            width: 100%;
            height: calc(100% - 100px);
            display: flex;

            .PokemonDetails {
                width: 350px;
                height: 100%;
                display: flex;
                flex-direction: column;
                background-color: var(--components);

                .PokemonImage{
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 30px;
                    padding-bottom: 0;

                    img{
                        pointer-events: none;
                        width: 100%;
                    }
                }

                .PokemonTypes{
                    display: flex;
                    gap: 30px;
                    align-items: center;
                    justify-content: center;
                }

                .PokemonInfos{
                    width: 100%;
                    flex-grow: 1;
                    padding: 15px;
                    padding-top: 25px;
                    display: flex;
                    gap: 10px;
                    flex-direction: column;

                    .PokemonInfo{
                        width: 100%;
                        display: flex;
                        flex-direction: row;
                        border-radius: 20px;
                        flex-grow: 1;
                        border: 1px solid var(--borders);

                        .InfoTitle{
                            border-top-left-radius: 20px;
                            border-bottom-left-radius: 20px;
                            width: 40%;
                            display: flex;
                            padding: 20px;
                            align-items: center;
                            justify-content: center;
                        }

                        .InfoContent{
                            flex-grow: 1;
                            display: flex;
                            padding: 0 20px;
                            gap: 5px;
                            flex-direction: column;
                            align-items: center;
                            justify-content: center;
                        }
                    }
                }
            }

            .PokemonStats{
                padding: 30px;
            }
        }
    }
}