.TeamAnalysePopup{
    .TeamAnalyseContainer{
        width: 100%;
        flex-grow: 1;
        display: flex;
        flex-shrink: 0;
        flex-direction: column;
        gap: 20px;
        margin-bottom: 20px;

        .AnalysePokemonCases{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            gap: 20px;
        }
        
        .AnalysePokemonCase{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;

            .SpriteContent{
                user-select: none;
                position: absolute;
                top: 0;
                left: 0;
                border-radius: 50%;
                width: 100%;
                transition: all .2s;
                height: 100%;

                &:hover{
                    transform: scale(1.05);
                }

                img{
                    width: 100%;
                    pointer-events: none;
                }
            }
        }

        .TeamTable{
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 10px;

            .TeamTableHeader{
                width: 100%;
                display: flex;
                align-items: center;
                padding: 20px;
                border-radius: 5px;
                background-color: var(--components);
            }

            .TeamTableContent{
                display: grid;
                grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
                grid-gap: 10px;
            }
        }
    }

    @media screen and (max-width:650px){
        .TeamAnalyseContainer{
            .AnalysePokemonCases{
                display: grid;
                grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
                grid-gap: 20px;
            }

        }
    }
}