.Type{
    width: 100px;
    height: 30px;
    border: 2px solid;
    border-radius: 20px;
    background-color: var(--components);
    display: flex;
    align-items: center;
    justify-content: center;

    &.case{
         border: 4px solid;
        // min-width: 100px;
        flex-grow: 1;
        display: flex;
        align-items: center;
        justify-content: start;
        padding: 10px;
        height: 55px;
        background-color: var(--components);
        border-radius: 5px;
    }
}