.TypeCase{
    display: flex;
    gap: 10px;

    .TypeContent{
        height: 55px;
        width: 60px;
        background-color: var(--components);
        border-radius: 5px;
        flex-shrink: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}