.Type{
    width: 100px;
    height: 30px;
    border: 2px solid var(--borders);
    border-radius: 20px;
    background-color: var(--components);
    display: flex;
    align-items: center;
    justify-content: center;
}