.Team {
    width: 400px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: var(--components);

    .TeamContainer{
        padding: 20px;

        .TeamEmpty{
            margin-top: 50px;
            display: flex;
            flex-direction: column;
            gap: 30px;
        }
        
        .TeamContent{
            width: 100%;
            min-height: 100%;
            overflow-y: auto;
            display: flex;
            align-items: center;
            flex-direction: column;

            .TeamCase{
                width: 100%;
                height: 100px;
                border-bottom: 1px solid var(--borders);
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 10px;
                transition: all .2s;

                .TrashButton{
                    width: 40px;
                    height: 40px;
                    background-color: var(--components);
                    border: 2px solid var(--borders);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    transition: all .3s;
                    cursor: pointer;
                    padding: 10px;

                    img{
                        pointer-events: none;
                        width: 100%;
                    }

                    &:hover{
                        background-color: var(--primary);
                    }
                }
            }
        }
    }
}

.TeamView{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;

    .TeamViewTitle{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 10px;
    }

    .TeamViewContent{
        height: 100%;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        padding: 30px 0;
        gap: 30px;
        align-items: center;
        justify-content: center;

        .PokemonContent{
            width: 130px;
            aspect-ratio: 1/1;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;

            img{
                width: 100%;
                pointer-events: none;
            }

            .Sprite{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                transition: all .2s;
                cursor: pointer;

                &:hover{
                    transform: scale(1.05);
                }

                img{
                    width: 100%;
                    pointer-events: none;
                }
            }
        }
    }

    .TeamViewOptions{
        gap: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}