:root {
  --primary:#ffa500;
  --primary-hover:#ffbe46;
  --neutral0: #FFFFFF;
  --neutral100: #f0f0f0;
  --neutral200: #D4D4D4;
  --neutral300: #B6B6B6;
  --neutral400: #878787;
  --neutral500: #484848;
  --neutral600: #292929;
  --neutral700: #1B1B1B;

  --background: var(--neutral100);
  --heading: var(--neutral700);
  --body: var(--neutral600);
  --body-secondary: var(--neutral500);
  --components: var(--neutral0);
  --borders: var(--neutral300);

  --red100:#cf2525;

  --x1-4:#21922c;
  --x1-2:#71a871;
  --x1:#adad76;
  --x2:#a06d6d;
  --x4:#8b342a;
  --x0:#616161;
}

[data-theme="dark"] {
  --neutral700: #FFFFFF;
  --neutral600: #f0f0f0;
  --neutral500: #D4D4D4;
  --neutral400: #B6B6B6;
  --neutral300: #878787;
  --neutral200: #484848;
  --neutral100: #292929;
  --neutral0: #1B1B1B;

  --background: var(--neutral0);
  --heading: var(--neutral700);
  --body: var(--neutral600);
  --body-secondary: var(--neutral500);
  --components: var(--neutral100);
  --borders: var(--neutral400);

  --red100:#cf2525;
}

html{
  scroll-behavior: smooth;
}

*{
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}


body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  width: 100vw;
  position: absolute;
  overflow-x: hidden;
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
}
  
#root{
  height: 100%;
  width: 100%;
}