:root {
  --primary:#FEDF4B;
  --primary-hover:#ecd977;
  --neutral0: #000000;
  --neutral100: #FFFFFF;
  --neutral150: #F9F9F9;
  --neutral200: #E6E6E6;
  --neutral300: #BFBFBF;
  --neutral400: #8F8F8F;
  --neutral500: #6E6E6E;
  --neutral600: #4B4B4B;
  --neutral700: #424240;
  --neutral750: #383836;
  --neutral800: #272727;

  --background: var(--neutral800);
  --heading: var(--neutral100);
  --body: var(--neutral150);
  --body-secondary: var(--neutral400);
  --components: var(--neutral700);
  --borders: var(--neutral300);

  --red100:#cf2525;

  --x1-4:#1A9037;
  --x1-2:#7BCA6C;
  --x1:#adad76;
  --x2:#E45E5E;
  --x4:#8b342a;
  --x0:#929292;

  --normal:#A8A878;
  --combat:#C03028;
  --vol:#A890F0;
  --poison:#A040A0;
  --sol:#E0C068;
  --feu:#F08030;
  --eau:#6890F0;
  --plante:#78C850;
  --electrique:#F8D030;
  --glace:#98D8D8;
  --psy:#F85888;
  --insecte:#A8B820;
  --roche:#B8A038;
  --spectre:#705898;
  --dragon:#7038F8;
  --tenebres:#705848;
  --acier:#B8B8D0;
  --fee:#EE99AC;
}

html{
  scroll-behavior: smooth;
}

*{
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}


body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  width: 100vw;
  position: absolute;
  overflow-x: hidden;
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
}
  
#root{
  height: 100%;
  width: 100%;
}